services:
  rechnung:
    build: . # Enable if you want to build from source
    #image: ghcr.io/segelzwerg/segelzwerg/rechnung:latest
    ports:
      - "12321:8000" # You can change to any port you like.
    depends_on:
      - postgres
    environment:
      - SECRET_KEY=$SECRET_KEY
      - ALLOWED_HOSTS=$ALLOWED_HOSTS
      - DB_NAME=$DB_NAME
      - DB_USER=$DB_USER
      - DB_PASSWORD=$DB_PASSWORD
      - DB_HOST=$DB_HOST
      - DB_PORT=$DB_PORT
      - DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
    restart: always
  postgres:
    image: postgres:18
    volumes:
      #- <external_path>:/var/lib/postgresql/ # Enable if you want to use an external drive
      - /var/lib/postgresql
    environment:
      - POSTGRES_USER=$DB_USER
      - POSTGRES_PASSWORD=$DB_PASSWORD
      - POSTGRES_DB=$DB_NAME
