{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block title %}<title>Rechnung - {% translate "Customer List" %}</title>{% endblock %}

{% block content %}
    <a class="btn btn-primary" role="button" href="{% url "customer-add" %}">Add customer</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{% translate "First Name" %}</th>
            <th scope="col">{% translate "Last Name" %}</th>
            <th scope="col">{% translate "Email" %}</th>
            <th scope="col">{% translate "Address" %}</th>
            <th scope="col">{% translate "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customer_list %}
            <tr>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.address }}</td>
                <td>
                    <a href="{% url "customer-update" customer.id %}">
                        <img src="{% static 'invoice/pencil-1.svg' %}" alt="{% translate 'Update' %}" width="24"
                             height="24">
                    </a>
                    <a href="{% url "customer-delete" customer.id %}">
                        <img src="{% static 'invoice/trash-3.svg' %}" alt="{% translate 'Delete' %}" width="24"
                             height="24">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
