{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
    <a class="btn btn-primary" role="button" href="{% url "customer-add" %}">Add customer</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{% translate "First Name" %}</th>
            <th scope="col">{% translate "Last Name" %}</th>
            <th scope="col">{% translate "Email" %}</th>
            <th scope="col">{% translate "Address" %}</th>
            <th scope="col">{% translate "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customer_list %}
            <tr>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.address }}</td>
                <td>
                    <a href="{% url "customer-update" customer.id %}">{% translate "Update" %}</a> /
                    <a href="{% url "customer-delete" customer.id %}">{% translate "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
