{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block title %}
    <title>Rechnung -
        {% if customer %}
            {% translate "Customer edit" %}
        {% else %}
            {% translate "Customer add" %}
        {% endif %}
    </title>
{% endblock %}

{% block content %}
    <div class="w-50">
        <form method="post" class="form-horizontal"
                {% if customer %}
              action="{% url "customer-update" customer.id %}"
                {% else %}
              action="{% url "customer-add" %}"
                {% endif %}>
            {% csrf_token %}
            {% bootstrap_form form layout="floating" %}
            {% bootstrap_form address_form layout="floating" %}
            <input type="submit" class="btn btn-primary"
                    {% if customer %}
                   value="{% translate "Update Customer" %}"
                    {% else %}
                   value="{% translate "Create Customer" %}"{% endif %}>
        </form>
    </div>
{% endblock content %}
