{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block title %}<title>Rechnung - {% translate "Invoice List" %}</title>{% endblock %}
{% block content %}
    <a class="btn btn-primary" role="button" href="{% url "invoice-add" %}">{% translate "Add invoice" %}</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{% translate "Invoice Number" %}</th>
            <th scope="col">{% translate "Date" %}</th>
            <th scope="col">{% translate "Due Date" %}</th>
            <th scope="col">{% translate "Vendor" %}</th>
            <th scope="col">{% translate "Customer" %}</th>
            <th scope="col">{% translate "Net Total" %}</th>
            <th scope="col">{% translate "Total" %}</th>
            <th scope="col">{% translate "Paid" %}</th>
            <th scope="col">{% translate "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoice_list %}
            <tr>
                <td>{{ invoice.invoice_number }}</td>
                <td>{{ invoice.date }}</td>
                <td>
                    {% if invoice.due_date %}
                        {{ invoice.due_date }}
                    {% endif %}
                </td>
                <td>{{ invoice.vendor.name }} ({{ invoice.vendor.company_name }})</td>
                <td>{{ invoice.customer.first_name }} {{ invoice.customer.last_name }}</td>
                <td class="text-end">{{ invoice.net_total_string }}</td>
                <td class="text-end">{{ invoice.total_string }}</td>
                <td>
                    {% if invoice.paid %}
                        {% translate "Yes" %}
                    {% else %}
                        {% translate "No" %}
                    {% endif %}
                </td>
                <td>
                    <a href="{% url "invoice-update" invoice.id %}">{% translate "Update" %}</a> /
                    <a href="{% url "invoice-delete" invoice.id %}">{% translate "Delete" %}</a> /
                    <a href="{% url "invoice-pdf" invoice.id %}">{% translate "PDF" %}</a> /
                    <a href="{% url "invoice-paid" invoice.id %}">Mark paid</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
