{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% block title %}
    Rechnung -
    {% if invoice %}
        {% translate "Invoice edit" %}
    {% else %}
        {% translate "Invoice add" %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <form method="post" class="form-horizontal" id="invoice-form"
                        {% if invoice %}
                      action="{% url "invoice-update" invoice.id %}"
                        {% else %}
                      action="{% url "invoice-add" %}"
                        {% endif %}>
                    {% csrf_token %}
                    <fieldset
                            {% if invoice.final %}
                                disabled
                            {% endif %}
                    >
                        {% bootstrap_form form layout="floating" exclude="paid" %}

                    </fieldset>
                    {% if invoice.final %}
                        {% bootstrap_field form.paid %}
                    {% endif %}
                    <fieldset
                            {% if invoice.final %}
                                disabled
                            {% endif %}
                    >
                        <input type="button" class="btn btn-primary" id="invoice_submit"
                                {% if invoice %}
                               value="{% translate "Update Invoice" %}"
                                {% else %}
                               value={% translate "Create Invoice" %}{% endif %}>
                    </fieldset>
                </form>
                {% if invoice %}
                    <a class="btn btn-primary" role="button" href="{% url "invoice-delete" invoice.id %}">
                        {% translate "Delete Invoice" %}
                    </a>
                {% endif %}
            </div>
            <div class="col-xl">
                {% if invoice %}
                    {% if invoice.invoice_number %}
                        <h3>{% translate "Invoice Number" %}: {{ invoice.invoice_number }}</h3>
                    {% endif %}
                {% endif %}

                {% if invoice and invoice_item_formset and not invoice.final %}
                    <form method="post">
                        {% csrf_token %}
                        {{ invoice_item_formset.management_form }}

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">{% translate "Name" %}</th>
                                <th scope="col">{% translate "Description" %}</th>
                                <th scope="col">{% translate "Quantity" %}</th>
                                <th scope="col">{% translate "Price" %}</th>
                                <th scope="col">{% translate "Tax" %}</th>
                                <th scope="col">{% translate "Total" %}</th>
                                <th scope="col">{% translate "Actions" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in invoice.items %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.description }}</td>
                                    <td class="text-end">{{ item.quantity_string }}</td>
                                    <td class="text-end">{{ item.price_string }}</td>
                                    <td class="text-end">{{ item.tax_string }}</td>
                                    <td class="text-end">{{ item.total_string }}</td>
                                    <td>
                                        <a href="{% url "invoice-item-update" invoice.id item.id %}">
                                            <img src="{% static 'invoice/pencil-1.svg' %}"
                                                 alt="{% translate 'Update' %}"
                                                 width="24" height="24">
                                        </a>
                                        <a href="{% url "invoice-item-delete" invoice.id item.id %}">
                                            <img src="{% static 'invoice/trash-3.svg' %}" alt="{% translate 'Delete' %}"
                                                 width="24" height="24"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <button type="submit" class="btn btn-primary">
                            {% translate "Save invoice items" %}
                        </button>
                    </form>
                {% endif %}

                {% if invoice %}
                    <div class="row">
                        <div class="col">{% translate "Net Total" %}:</div>
                        <div class="col"><span>{{ invoice.net_total_string }}</span></div>
                    </div>
                    <div class="row">
                        <div class="col">{% translate "Total" %}:</div>
                        <div class="col"><span>{{ invoice.total_string }}</span></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
