{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="de">


{% load i18n %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}<title>Rechnung</title>{% endblock %}
<body>

{% block navbar %}
    <nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
        <a class="navbar-brand" href="{% url "start" %}">{% translate "Rechnung" %}</a>
        <div class="container-fluid">
            {% if user.is_authenticated %}
                <ul class="navbar-nav justify-content">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">{% translate "Invoices" %}</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   href="{% url "invoice-list" %}">{% translate "List" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url "invoice-add" %}">{% translate "Add" %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">{% translate "Customers" %}</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   href="{% url "customer-list" %}">{% translate "List" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url "customer-add" %}">{% translate "Add" %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">{% translate "Vendors" %}</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   href="{% url "vendor-list" %}">{% translate "List" %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url "vendor-add" %}">{% translate "Add" %}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="d-flex">
                    <span class="navbar-text">
                        {{ user.username }}
                    </span>
                    <form id="logoutform" method="post" action="{% url "logout" %}" class="d-flex">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">{% translate "Logout" %}</button>
                    </form>
                </div>
            {% else %}
                <div class="d-flex">
                    <a class="btn btn-info" href="{% url 'login' %}?next={{ request.path }}">{% translate "Login" %}</a>
                    <a class="btn btn-info" href="{% url 'signup' %}">{% translate "Register" %}</a>
                </div>
            {% endif %}
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <label>
                    <select class="form-select" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </label>
                <button type="submit" class="btn btn-info">{% translate "Go" %}</button>
            </form>
        </div>
    </nav>
{% endblock navbar %}
{% block messages %}
    {% if messages %}
        {% bootstrap_messages %}
    {% endif %}
{% endblock messages %}
<div id="content">
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>
