{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Rechnung</title>
</head>
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <p>{{ nav_bar_escape }}</p>
            <ul class="navbar-nav justify-content">
                {% if nav_logo %}
                    <a class="navbar-brand" href="{{ nav_logo.url }}">
                        <img height="45" src="{{ nav_logo.image.url }}"
                             alt="{{ nav_logo.alt_text }}">
                    </a>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ nav_bar_escape }}/invoices/"
                       role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Invoices</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="{{ nav_bar_escape }}/invoice/add/">Add</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
            <span class="navbar-text">
                {{ user.username }}
              </span>
            <form id="logoutform" method="POST" action="accounts/logout/">
                {% csrf_token %}
                <button type="submit" class="btn btn-info">{% translate "Logout" %}</button>
            </form>
        {% endif %}
    </nav>
{% endblock navbar %}
<div id="content">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>