{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Rechnung</title>
</head>
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<body>

{% block navbar %}
    <nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <ul class="navbar-nav justify-content">
                {% if nav_logo %}
                    <a class="navbar-brand" href="{{ nav_logo.url }}">
                        <img height="45" src="{{ nav_logo.image.url }}"
                             alt="{{ nav_logo.alt_text }}">
                    </a>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Invoices</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/invoices">List</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/invoice/add/">Add</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Customers</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/customers">List</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/customer/add/">Add</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Addresses</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/addresses">List</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/address/add/">Add</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Vendors</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/vendors">List</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/vendor/add/">Add</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Bank Accounts</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="/bankaccounts">List</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="/bankaccount/add/">Add</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <div class="d-flex">
                    <span class="navbar-text">
                        {{ user.username }}
                    </span>
                    <form id="logoutform" method="POST" action="/accounts/logout" class="d-flex">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">{% translate "Logout" %}</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock navbar %}

<div id="content">
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>
